:root {
  --primary-color: #c54a11;
  --secondary-color: #358068;
  --state-info: #a285d0;
  --state-warning: #5356db;
  --state-error: #df1a0c;
  --primary-black: #222831;
  --off-white: #f9f8f5;
  --primary-white: #fafafa;
  --gray-1: #393e46;
  --gray-2: #b9bec6;
  --gray-3: #9fa6b1;
  --tint-orange: #393e46;
  --tint-green: #dfefd7;
  --tint-purple: #e7e0eb;
  // Website to create gradients from the design: https://cssgradient.io/
  --gradient-green: linear-gradient(
    90deg,
    rgba(53, 128, 104, 1) 0%,
    rgba(0, 181, 123, 1) 100%
  );

  --shadow-sm: 0 0 4px 0 rgba(42, 42, 42, 0.2);
  --shadow-sm-bottom: 0 4px 4px 0 rgba(42, 42, 42, 0.2);
  --shadow-sm-top: 0 -4px 4px 0 rgba(42, 42, 42, 0.2);
  --shadow-md: 0 0 8px 0 rgba(42, 42, 42, 0.2);
  --shadow-md-bottom: 0 8px 8px 0 rgba(42, 42, 42, 0.2);
  --shadow-md-top: 0 -8px 8px 0 rgba(42, 42, 42, 0.2);
  --shadow-lg: 0 0 16px 2px rgba(42, 42, 42, 0.2);
  --shadow-lg-bottom: 0 8px 16px 2px rgba(42, 42, 42, 0.2);
  --shadow-lg-top: 0 -8px 16px 2px rgba(42, 42, 42, 0.2);

  --mobile-header-1: 2.8rem;
  --mobile-header-2: 2.1rem;
  --mobile-header-3: 1.6rem;
  --mobile-header-4: 1.6rem;
  --mobile-p: 1.6rem;
  --mobile-a: 1.6rem;
  --mobile-link: 1.6rem;
  --mobile-label: 1.8rem;
  --mobile-small: 1.2rem;
}

html,
body,
main,
footer,
#app {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 10px;
  font-family: "Raleway", sans-serif;
  background-color: var(--primary-white);
  color: var(--primary-black);
}

body {
  margin: 0;
  padding: 0;
  max-width: 64rem;
  width: 100%;
  margin: 0 auto;
  &[aria-expanded="true"] {
    #app::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      backdrop-filter: blur(2px);
      z-index: 2;
    }
  }
}

h1,
h2,
h3,
h4,
p,
a,
label {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--mobile-header-1);
  color: var(--primary-black);
}

h2 {
  font-size: var(--mobile-header-2);
  color: var(--primary-black);
}

h3 {
  font-size: var(--mobile-header-3);
  color: var(--primary-black);
}

h4 {
  font-size: var(--mobile-header-4);
  color: var(--primary-black);
}

p {
  font-size: var(--mobile-p);
  font-weight: 500;
  color: var(--primary-black);
  &.error {
    color: var(--state-error);
    font-weight: 700;
    font-size: var(--mobile-small);
    margin: 0;
  }
}

label {
  font-size: var(--mobile-label);
  font-weight: 600;
  color: var(--primary-black);
}

a {
  font-size: var(--mobile-a);
  font-weight: 500;
  color: var(--primary-black);
}

button {
  font-size: var(--mobile-p);
}

.small {
  font-size: var(--mobile-small);
}

.bold {
  font-weight: 700;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: var(--mobile-p);
  margin: 0;
  padding: 0;
  color: var(--primary-white);
}

span.warning {
  color: var(--state-warning);
}

#admin_banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gradient-green);
  border-radius: 999px;
  padding: 0.8rem 1.6rem;
  box-sizing: border-box;
  box-shadow: 0 0 1.6rem 0 #1b9971;
  margin: 2.4rem;
  margin-bottom: 0;
  p {
    color: var(--primary-white);
  }
}

#loading,
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  .loader {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
  }
  .loader::before,
  .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 0.5rem solid var(--primary-black);
    animation: prixClipFix 2s linear infinite;
  }
  .loader::after {
    inset: 0.8rem;
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: var(--primary-color);
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes prixClipFix {
    0% {
      clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    50% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    75%,
    100% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
  }
}

.in-progress {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
